* { 
    font-family: arial, helvetica;
    margin: 0;
}

body{
    height: 100vh;
    width: 100vw;
    padding: 2%;
}

#info h1 {margin: 0;}

#info{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    padding: 0%;
}

#info td{
   border: solid;
}

a {
    font-weight: 700;
}

h4 {
    font-size: 1.2em;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color:cadetblue
}

#numero{
    width: 20em;
    margin: 10%;
    font-size: 10em;
}

table{
    width: 200px;
    height: 75px;
}

.teclado{
    background-color: #CCE6FF;
    margin: 10%;
    padding: 10%;
}

.click{
    background-color: #FFFFCC;
    margin: 10%;
}

.mover{
    border: thin solid;
    margin: 10%;
    background-color: white;
}
